@import "../global.scss";
.container {
	display: flex;
	height: 100%;
	.side-nav-bar {
		position: relative;
		min-width: 210px;
	}
	.main-content-container {
		position: relative;
		width: calc(100% - 210px);
		height: 100%;
		overflow: hidden;
		.top-nav-bar {
			position: relative;
			height: 55px;
		}
		.router-view {
			position: relative;
			width: 100%;
			min-height: calc(100% - 55px);
			padding: 20px;
			box-sizing: border-box;
			background-color: $base_grey;
		}
	}
}
