.art-side-bar {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 1500px;
	padding-top: 50px;
	.article-container {
		@include flex-center();
		width: 900px;
		height: 400px;
		background-color: rgba($color: #fff, $alpha: 0.6);
		border-radius: 20px;
		.article-info {
		}

		.article-img {
			width: 50%;
			background: {
				image: url("../../assets/img/articles/segamiku.png");
				repeat: no-repeat;
				size: cover;
			}
		}
	}
	.side-bar {
		@include flex-center();
		width: 250px;
		height: 400px;
		background-color: rgba($color: #fff, $alpha: 0.6);
		border-radius: 25px;
		box-shadow: $base_shadow;
		font-size: 26px;
	}
}
