.outer-container {
	position: relative;
	overflow: hidden;
	overflow-x: hidden;
	#scene {
		pointer-events: all !important;
		height: 100vh;
	}
	section {
		position: relative;
		overflow: hidden;
		.bg img {
			width: 100vw;
			filter: brightness(0.6);
		}
		.rock1 {
			position: absolute !important;
			left: 10vw !important;
			top: 20vh !important;
			img {
				width: 40%;
				filter: brightness(0.5);
			}
		}
		.text {
			width: 800px;
			position: absolute;
			z-index: 10;
			left: calc(50% - 400px) !important;
			top: calc(50% - 150px) !important;
			display: flex !important;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			pointer-events: none;
			h1 {
				font-family: "AlphaCentauri" !important;
				font-size: 80px;
				font-weight: 700;
				color: #fff;
				letter-spacing: 20px;
				margin-bottom: 20px;
			}
			.vuetyped {
				font-size: 30px; /* 要给容器设置font-size */
				.typing {
					font-weight: 700;
					color: #fff;
					//允许复制歌词
					pointer-events: all;
				}
			}
		}
		.earth img {
			width: 400px;
			height: 400px;
			position: absolute;
			left: 24.7vw;
			top: 28vh;
			z-index: 1;
			filter: brightness(0.7);
		}
		.mid {
			height: 100vh !important;
			left: -150px !important;
			bottom: -150px !important;
			top: unset !important;
			img {
				width: 100%;
				height: 110vh;
				z-index: 2;
				left: -20px;
				filter: brightness(0.8);
			}
		}
		.fore {
			right: -50px !important;
			bottom: -200px !important;
			top: 0px !important;
			left: unset !important;
			img {
				width: 400px;
				height: 110vh;
				z-index: 3;
				filter: brightness(0.5);
			}
		}
		.scroll-down {
			width: 40px;
			height: 40px;
			position: absolute;
			z-index: 10;
			left: calc(50% - 20px) !important;
			top: calc(80%) !important;
			opacity: 1;

			animation: faded 3s infinite linear;
		}
		@keyframes faded {
			0% {
				opacity: 1;
				margin-top: 50px;
			}
			25% {
				opacity: 0.5;
				margin-top: 55px;
			}
			50% {
				opacity: 0;
				margin-top: 50px;
			}
			75% {
				opacity: 0.5;
				margin-top: 45px;
			}
			100% {
				opacity: 1;
				margin-top: 50px;
			}
		}
	}
}
.down {
	width: 100%;
	height: 1000px;
}
