@import "@/assets/scss/global.scss";
.music-player {
	@include flex-center();
	flex-direction: column;
	@include square(400px);
	height: 640px;
	position: relative;
	background-color: rgba($color: #fff, $alpha: 0.6);
	border-radius: 25px;
	box-shadow: $base_shadow;
	font-size: 26px;
	.music-list,
	.music-info {
		width: 100%;
	}
	.music-info {
		display: flex;
		align-items: center;
		height: 180px;
		padding: 10px 0 0 15px;
		box-sizing: border-box;
		/* 封面 */
		.album-cover {
			position: relative;
			width: 95px;
			height: 95px;
			border-radius: 50%;
			box-shadow: 0 0 0 10px #fff;
			overflow: hidden;
			transition: 0.3s ease;
			img {
				@include square(95px);
				&.active {
					/* 执行动画：动画名 时长 线性的 无限次播放 */
					animation: rotateAlbumCover 10s linear infinite;
				}
				&.pause {
					animation-play-state: paused;
				}
			}
			/* 唱片中间的小圆点 */
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				margin: -10px auto auto auto;
				width: 20px;
				height: 20px;
				background-color: #d6dee6;
				border-radius: 50%;
				box-shadow: inset 0 0 0 2px #fff;
			}
		}
		.album-info {
			display: flex;
			flex-direction: column;
			width: 260px;
			height: 100%;
			margin: 20px 0 0 20px;
			font-size: 18px;
			color: black;
			#audioTag {
				position: absolute;
				top: -30px;
				display: none;
			}
			.progress {
				position: relative;
				height: 7px;
				border-radius: 3px;
				margin: 10px 0 10px 0;
				width: 100%;
				background-color: #dadfea;
				cursor: pointer;

				.currentProgress {
					position: relative;
					height: 100%;
					width: 0;
					background-color: #3853fe;
					border-radius: 3px;

					.circle {
						position: absolute;
						right: -6px;
						top: -2px;
						display: inline-block;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						border: 1px solid #3853fe;
						background-color: #fff;
						z-index: 1;
						&:hover {
							width: 12px;
							height: 12px;
							top: -3px;
							border-radius: 50%;
						}
					}
				}
			}

			.title {
				width: 270px;
				text-align: center;

				font-size: 18px;
				font-weight: 700;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.artist {
				width: 270px;
				text-align: center;
				font-size: 14px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.track-time {
				@include flex-center();
				width: 100%;
				justify-content: space-between;
				font-size: 14px;
			}
			.play-controls {
				position: relative;
				@include flex-center();
				justify-content: space-between;
				width: 100%;
				height: 35px;
				-webkit-user-drag: none;
				.button {
					cursor: pointer;
					img {
						@include square(30px);
					}
					user-select: none;
				}
			}
		}
	}
	.lyrics-container {
		width: 100%;
		height: 300px;
		margin-bottom: 20px;
		overflow: hidden;
		.music-lyrics {
			@include flex-center();
			flex-direction: column;
			transform: translateY(30px);
			transition: 0.5s linear;
			.line {
				text-align: center;
				height: 45px;
				width: 390px;
				font-size: 14px;
				margin: 5px;
				.transLyricStr {
					font-size: 12px;
				}
			}
			.curLine {
				font-size: 16px;
				color: black;
				font-weight: 700;
				margin: 30px;
				.transLyricStr {
					font-size: 14px;
				}
			}
			.now {
				position: relative;
				width: 10px;
				height: 100%;
				background-color: red;
			}
		}
	}
	.music-list {
		height: 300px;
		margin-bottom: 10px;
		color: black;
		overflow-y: scroll;
		cursor: pointer;
		.music-item {
			@include flex-center();
			justify-content: space-between;
			position: relative;
			height: 28px;
			font-size: 14px;
			padding: 5px;
			box-sizing: border-box;
			transition: 0.3s all linear;
			.part-1 {
				@include flex-center();
				height: 100%;
				.block {
					position: absolute;
					left: 5px;
					height: 80%;
					width: 5px;
					background-color: rgb(122, 195, 242);
				}
				.index {
					margin: 0 10px;
				}
				.title {
					height: 28px;
					line-height: 28px;
					width: 200px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
			.artist {
				height: 28px;
				line-height: 28px;
				width: 100px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin: 0 15px;
			}
			&:nth-child(2n + 1) {
				background-color: rgba(0, 0, 0, 0.05);
			}
			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
		.current {
			background-color: rgba(0, 0, 0, 0.2) !important;
		}
		&::-webkit-scrollbar {
			position: absolute;
			width: 8px;
			height: 5px;
			border-radius: 3px;
			background-color: white;
		}
		&::-webkit-scrollbar-thumb {
			width: 8px;
			height: 5px;
			border-radius: 3px;
			background-color: rgba(66, 170, 237, 0.7);
		}
	}
}

.active-music {
	background-color: rgba(122, 195, 242, 0.2);
	.block {
		background-color: rgb(122, 195, 242);
	}
}

/* 定义动画 */
@keyframes rotateAlbumCover {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
