.art-side-bar {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 1500px;
	padding-top: 50px;
	//文章展示区
	.article-container {
		display: flex;
		flex-direction: column;
		width: 750px;
		height: 600px;
		background-color: rgba($color: #fff, $alpha: 0.6);
		border-radius: 20px;
		margin-top: -300px;
		.article-img {
			position: relative;
			width: 100%;
			height: 50%;
			border-radius: 20px;
			background: {
				image: url("../../assets/img/articles/segamiku.png");
				repeat: no-repeat;
				size: 100%;
			}
			transition: 0.5s ease all;
			//图片变大效果
			&:hover {
				background-size: 110%;
			}
			//渐变白色遮罩层
			.wrap {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 1;
				background-image: linear-gradient(
					rgba(255, 255, 255, 0),
					rgba(255, 255, 255, 0.8)
				);
			}
		}
		//文章详细
		.article-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			height: 50%;
			padding: 10px;
			font-size: 15px;
			color: black;
			//标题和tags
			.header {
				@include flex-center();
				flex-direction: column;
				align-self: center;
				//标题
				.title {
					font-size: 26px;
					font-weight: 700;
					transition: 0.4s ease-out all;
					cursor: pointer;
					&:hover {
						color: rgba(66, 170, 237, 0.6);
					}
				}
				//标签
				.tags {
					@include flex-center();
					width: 100%;
					.tag-item {
						margin: 3px;
						font-weight: 400;
						cursor: pointer;
					}
				}
			}
			.article-part {
				font-size: 16px;
				overflow-y: scroll;
				&::-webkit-scrollbar {
					position: absolute;
					width: 4px;
					height: 5px;
					border-radius: 3px;
					background-color: white;
				}
				&::-webkit-scrollbar-thumb {
					width: 4px;
					height: 3px;
					border-radius: 3px;
					background-color: rgba(66, 170, 237, 0.7);
				}
			}
			//底部信息
			.footer {
				@include flex-center();
				justify-content: space-between;
				width: 100%;
				padding-top: 10px;
				.time {
					@include flex-center();
					.span:nth-child(1) {
						margin-left: 5px;
					}
					vertical-align: baseline;
				}
				.fixed-top {
					.tag-top {
						font-size: 16px;
					}
				}
				.extend-info {
					.flow,
					.comment {
						@include flex-center();
						font-weight: normal;
						.span {
							margin-left: 5px;
						}
					}
					display: flex;
					align-items: center;
					.go-detail {
						cursor: pointer;
						margin: {
							left: 10px;
							right: 5px;
						}
					}
				}
			}
		}
	}
	//同级侧边栏区
	.side-bar {
		@include flex-center();
		width: 250px;
		height: 400px;
		background-color: rgba($color: #fff, $alpha: 0.6);
		border-radius: 25px;
		box-shadow: $base_shadow;
		font-size: 26px;
	}
}
